/* reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #E1D7C4;
}
#mainlogo{
    background: linear-gradient(to bottom, #e9b69c 43%, #1f7ad4 57%);
    border-bottom: 0.2rem solid black;

}
#mainlogo img {
    width: 100%;        
    max-width: 300px;   
    height: auto;      
    display: block;     
    margin: 0 auto;     
}
/* responsive design --> media queries */

/* accessibility */

.guestbkContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.guestbkAddBox {
  background: #eef7ff;
  border: 2px dashed #593412;
  border-radius: 14px;
  padding: 40px 20px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guestbkAddBox a {
  text-decoration: none;
  color: #1e90ff;
}

.entry {
  background: #ffffff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  padding-bottom: 15px;
}
.entry img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.entry p {
  margin: 10px 0 0;
  font-size: 1rem;
  font-weight: 600;
}

/*=================message length fix=========*/
.entry p:nth-of-type(2) {
  max-height: 100px;       
  overflow-y: auto;        
  word-wrap: break-word;
  padding: 0 5px;          
}

/* Responsive: 
2-column on tablet            */
@media (max-width: 900px) {
  .guestbkContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 1-column on mobile */
@media (max-width: 600px) {
  .guestbkContainer {
    grid-template-columns: 1fr;
  }
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5); 
}

.modal-content {
  background-color: #fff;
  margin: 80px auto;
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}


.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

#guestForm label {
  display: block;
  margin-top: 15px;
  font-weight: 600;
}

#guestForm input, #guestForm textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#guestForm textarea {
  resize: vertical;
  min-height: 80px;
}

#guestForm button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#guestForm button:hover {
  background-color: #faff00;
}
.audio-player {
  display: flex;
  align-items: center;
  background: #E1D7C4;
  padding: 1rem;
  border-radius: 10px;
  width: fit-content;
}

.audio-player button {
  background: #E1D7C4;
  color: #000000;
  border: none;
  font-size: 1.5rem;
  border-radius: 20%;
  width: 20px;
  height: 10px;
  cursor: pointer;
  bottom: 10px;
}
